/* storybook-theme-switcher-token */

:where(html) {
    --cck-storybook-color-palette-steel-gray-50: #f6f7f9;
    --cck-storybook-color-palette-steel-gray-100: #ecedf2;
    --cck-storybook-color-palette-steel-gray-200: #e1e3ea;
    --cck-storybook-color-palette-steel-gray-300: #ced1de;
    --cck-storybook-color-palette-steel-gray-400: #949ab7;
    --cck-storybook-color-palette-steel-gray-500: #646b8b;
    --cck-storybook-color-palette-steel-gray-600: #454b68;
    --cck-storybook-color-palette-steel-gray-700: #373c52;
    --cck-storybook-color-palette-steel-gray-800: #232633;
    --cck-storybook-color-palette-steel-gray-900: #191b24;
    --cck-storybook-color-palette-steel-gray-950: #090a13;
    --cck-storybook-color-palette-blue-gray-50: #f0f4f8;
    --cck-storybook-color-palette-blue-gray-100: #e7edf3;
    --cck-storybook-color-palette-blue-gray-200: #d7e0ea;
    --cck-storybook-color-palette-blue-gray-300: #beccda;
    --cck-storybook-color-palette-blue-gray-400: #91a6ba;
    --cck-storybook-color-palette-blue-gray-500: #5e7892;
    --cck-storybook-color-palette-blue-gray-600: #3e576f;
    --cck-storybook-color-palette-blue-gray-700: #2d455c;
    --cck-storybook-color-palette-blue-gray-800: #1a2b3c;
    --cck-storybook-color-palette-blue-gray-900: #0b1c2d;
    --cck-storybook-color-palette-blue-gray-950: #000c1d;
    --cck-storybook-color-palette-charcoal-gray-50: #f9fafc;
    --cck-storybook-color-palette-charcoal-gray-100: #f2f5f8;
    --cck-storybook-color-palette-charcoal-gray-200: #e4e8ee;
    --cck-storybook-color-palette-charcoal-gray-300: #ced5de;
    --cck-storybook-color-palette-charcoal-gray-400: #98a3b4;
    --cck-storybook-color-palette-charcoal-gray-500: #687386;
    --cck-storybook-color-palette-charcoal-gray-600: #495566;
    --cck-storybook-color-palette-charcoal-gray-700: #354153;
    --cck-storybook-color-palette-charcoal-gray-800: #1f2939;
    --cck-storybook-color-palette-charcoal-gray-900: #0f1728;
    --cck-storybook-color-palette-charcoal-gray-950: #000819;
    --cck-storybook-color-palette-limed-gray-50: #f5f7fa;
    --cck-storybook-color-palette-limed-gray-100: #edeff2;
    --cck-storybook-color-palette-limed-gray-200: #dce0e5;
    --cck-storybook-color-palette-limed-gray-300: #c5ccd3;
    --cck-storybook-color-palette-limed-gray-400: #9ca5af;
    --cck-storybook-color-palette-limed-gray-500: #697786;
    --cck-storybook-color-palette-limed-gray-600: #4a5763;
    --cck-storybook-color-palette-limed-gray-700: #394551;
    --cck-storybook-color-palette-limed-gray-800: #2b3640;
    --cck-storybook-color-palette-limed-gray-900: #1b242c;
    --cck-storybook-color-palette-limed-gray-950: #070d12;
    --cck-storybook-color-palette-smoke-gray-50: #f7f8fb;
    --cck-storybook-color-palette-smoke-gray-100: #ecedef;
    --cck-storybook-color-palette-smoke-gray-200: #d9dbdf;
    --cck-storybook-color-palette-smoke-gray-300: #bcbec3;
    --cck-storybook-color-palette-smoke-gray-400: #9c9ea3;
    --cck-storybook-color-palette-smoke-gray-500: #525358;
    --cck-storybook-color-palette-smoke-gray-600: #36383c;
    --cck-storybook-color-palette-smoke-gray-700: #2b2d30;
    --cck-storybook-color-palette-smoke-gray-800: #2b2d30;
    --cck-storybook-color-palette-smoke-gray-900: #1a1b1e;
    --cck-storybook-color-palette-smoke-gray-950: #07080b;
    --cck-storybook-color-palette-scorpion-gray-50: #f7f7f7;
    --cck-storybook-color-palette-scorpion-gray-100: #ededed;
    --cck-storybook-color-palette-scorpion-gray-200: #e0e0e0;
    --cck-storybook-color-palette-scorpion-gray-300: #cccccc;
    --cck-storybook-color-palette-scorpion-gray-400: #a6a6a6;
    --cck-storybook-color-palette-scorpion-gray-500: #7a7a7a;
    --cck-storybook-color-palette-scorpion-gray-600: #575757;
    --cck-storybook-color-palette-scorpion-gray-700: #454545;
    --cck-storybook-color-palette-scorpion-gray-800: #2b2b2b;
    --cck-storybook-color-palette-scorpion-gray-900: #212121;
    --cck-storybook-color-palette-scorpion-gray-950: #0d0d0d;
    --cck-storybook-color-palette-ironside-gray-50: #f8f9f9;
    --cck-storybook-color-palette-ironside-gray-100: #f3f4f4;
    --cck-storybook-color-palette-ironside-gray-200: #e5e5e5;
    --cck-storybook-color-palette-ironside-gray-300: #d4d3d3;
    --cck-storybook-color-palette-ironside-gray-400: #a5a2a1;
    --cck-storybook-color-palette-ironside-gray-500: #74716f;
    --cck-storybook-color-palette-ironside-gray-600: #53514f;
    --cck-storybook-color-palette-ironside-gray-700: #403e3d;
    --cck-storybook-color-palette-ironside-gray-800: #252424;
    --cck-storybook-color-palette-ironside-gray-900: #181716;
    --cck-storybook-color-palette-ironside-gray-950: #080706;
    --cck-storybook-color-palette-fuscous-gray-50: #faf9f7;
    --cck-storybook-color-palette-fuscous-gray-100: #faf9f7;
    --cck-storybook-color-palette-fuscous-gray-200: #faf9f7;
    --cck-storybook-color-palette-fuscous-gray-300: #d1cec7;
    --cck-storybook-color-palette-fuscous-gray-400: #ada89f;
    --cck-storybook-color-palette-fuscous-gray-500: #817b6f;
    --cck-storybook-color-palette-fuscous-gray-600: #5e5a4f;
    --cck-storybook-color-palette-fuscous-gray-700: #4c473d;
    --cck-storybook-color-palette-fuscous-gray-800: #343028;
    --cck-storybook-color-palette-fuscous-gray-900: #201e18;
    --cck-storybook-color-palette-fuscous-gray-950: #0f0d0b;
    --cck-storybook-color-palette-dark-orange-50: #fff7ef;
    --cck-storybook-color-palette-dark-orange-100: #feebd5;
    --cck-storybook-color-palette-dark-orange-200: #fed8aa;
    --cck-storybook-color-palette-dark-orange-300: #fcbc79;
    --cck-storybook-color-palette-dark-orange-400: #fa984b;
    --cck-storybook-color-palette-dark-orange-500: #f27128;
    --cck-storybook-color-palette-dark-orange-600: #db4f16;
    --cck-storybook-color-palette-dark-orange-700: #b73813;
    --cck-storybook-color-palette-dark-orange-800: #962e15;
    --cck-storybook-color-palette-dark-orange-900: #7c2916;
    --cck-storybook-color-palette-dark-orange-950: #6d1a07;
    --cck-storybook-color-palette-orange-50: #fffaf0;
    --cck-storybook-color-palette-orange-100: #feeacd;
    --cck-storybook-color-palette-orange-200: #fedeae;
    --cck-storybook-color-palette-orange-300: #fec57c;
    --cck-storybook-color-palette-orange-400: #fd9b28;
    --cck-storybook-color-palette-orange-500: #fd8508;
    --cck-storybook-color-palette-orange-600: #ec7308;
    --cck-storybook-color-palette-orange-700: #c65506;
    --cck-storybook-color-palette-orange-800: #c04705;
    --cck-storybook-color-palette-orange-900: #af2f05;
    --cck-storybook-color-palette-orange-950: #9c1c00;
    --cck-storybook-color-palette-orange-peel-50: #fefaea;
    --cck-storybook-color-palette-orange-peel-100: #fdf2c6;
    --cck-storybook-color-palette-orange-peel-200: #fce58a;
    --cck-storybook-color-palette-orange-peel-300: #fbd24d;
    --cck-storybook-color-palette-orange-peel-400: #fabe24;
    --cck-storybook-color-palette-orange-peel-500: #f49d0b;
    --cck-storybook-color-palette-orange-peel-600: #d87706;
    --cck-storybook-color-palette-orange-peel-700: #b35309;
    --cck-storybook-color-palette-orange-peel-800: #91400e;
    --cck-storybook-color-palette-orange-peel-900: #76340f;
    --cck-storybook-color-palette-orange-peel-950: #642200;
    --cck-storybook-color-palette-yellow-50: #fdfbe7;
    --cck-storybook-color-palette-yellow-100: #fdf8c2;
    --cck-storybook-color-palette-yellow-200: #fdef8a;
    --cck-storybook-color-palette-yellow-300: #fcdf47;
    --cck-storybook-color-palette-yellow-400: #f9cb15;
    --cck-storybook-color-palette-yellow-500: #e9b208;
    --cck-storybook-color-palette-yellow-600: #c98a04;
    --cck-storybook-color-palette-yellow-700: #a06107;
    --cck-storybook-color-palette-yellow-800: #844d0e;
    --cck-storybook-color-palette-yellow-900: #703f12;
    --cck-storybook-color-palette-yellow-950: #5f2e01;
    --cck-storybook-color-palette-green-light-50: #f6fde6;
    --cck-storybook-color-palette-green-light-100: #eafac9;
    --cck-storybook-color-palette-green-light-200: #d8f89d;
    --cck-storybook-color-palette-green-light-300: #bdf164;
    --cck-storybook-color-palette-green-light-400: #a2e435;
    --cck-storybook-color-palette-green-light-500: #83ca16;
    --cck-storybook-color-palette-green-light-600: #64a20d;
    --cck-storybook-color-palette-green-light-700: #4d7b0f;
    --cck-storybook-color-palette-green-light-800: #3f6112;
    --cck-storybook-color-palette-green-light-900: #355114;
    --cck-storybook-color-palette-green-light-950: #233f02;
    --cck-storybook-color-palette-green-50: #effcf3;
    --cck-storybook-color-palette-green-100: #dbfbe6;
    --cck-storybook-color-palette-green-200: #baf6cf;
    --cck-storybook-color-palette-green-300: #86eeab;
    --cck-storybook-color-palette-green-400: #4adc7f;
    --cck-storybook-color-palette-green-500: #22c35d;
    --cck-storybook-color-palette-green-600: #16a24a;
    --cck-storybook-color-palette-green-700: #157f3d;
    --cck-storybook-color-palette-green-800: #166434;
    --cck-storybook-color-palette-green-900: #14522d;
    --cck-storybook-color-palette-green-950: #03411c;
    --cck-storybook-color-palette-sea-green-50: #f0fff4;
    --cck-storybook-color-palette-sea-green-100: #e6fbed;
    --cck-storybook-color-palette-sea-green-200: #ccf2d9;
    --cck-storybook-color-palette-sea-green-300: #9ae6b4;
    --cck-storybook-color-palette-sea-green-400: #68d391;
    --cck-storybook-color-palette-sea-green-500: #48bb78;
    --cck-storybook-color-palette-sea-green-600: #38a169;
    --cck-storybook-color-palette-sea-green-700: #296b4b;
    --cck-storybook-color-palette-sea-green-800: #23563e;
    --cck-storybook-color-palette-sea-green-900: #1d4734;
    --cck-storybook-color-palette-sea-green-950: #0e3825;
    --cck-storybook-color-palette-ocean-green-50: #f0fdf7;
    --cck-storybook-color-palette-ocean-green-100: #d4fcec;
    --cck-storybook-color-palette-ocean-green-200: #aaf7da;
    --cck-storybook-color-palette-ocean-green-300: #72edc0;
    --cck-storybook-color-palette-ocean-green-400: #3cd9a0;
    --cck-storybook-color-palette-ocean-green-500: #1bbf82;
    --cck-storybook-color-palette-ocean-green-600: #129c69;
    --cck-storybook-color-palette-ocean-green-700: #127b56;
    --cck-storybook-color-palette-ocean-green-800: #146247;
    --cck-storybook-color-palette-ocean-green-900: #14513c;
    --cck-storybook-color-palette-ocean-green-950: #023f2a;
    --cck-storybook-color-palette-teal-50: #effcf9;
    --cck-storybook-color-palette-teal-100: #cbfaf0;
    --cck-storybook-color-palette-teal-200: #99f5e3;
    --cck-storybook-color-palette-teal-300: #5ee9d3;
    --cck-storybook-color-palette-teal-400: #2dd3be;
    --cck-storybook-color-palette-teal-500: #14b7a6;
    --cck-storybook-color-palette-teal-600: #0d9387;
    --cck-storybook-color-palette-teal-700: #0f756d;
    --cck-storybook-color-palette-teal-800: #115d58;
    --cck-storybook-color-palette-teal-900: #134d49;
    --cck-storybook-color-palette-teal-950: #003a36;
    --cck-storybook-color-palette-cyan-50: #ebfdfe;
    --cck-storybook-color-palette-cyan-100: #cef9fd;
    --cck-storybook-color-palette-cyan-200: #a5f2fb;
    --cck-storybook-color-palette-cyan-300: #66e6f7;
    --cck-storybook-color-palette-cyan-400: #22d2ed;
    --cck-storybook-color-palette-cyan-500: #06b5d3;
    --cck-storybook-color-palette-cyan-600: #0890b0;
    --cck-storybook-color-palette-cyan-700: #0e738f;
    --cck-storybook-color-palette-cyan-800: #155c73;
    --cck-storybook-color-palette-cyan-900: #164e62;
    --cck-storybook-color-palette-cyan-950: #053d51;
    --cck-storybook-color-palette-blue-50: #eef5fe;
    --cck-storybook-color-palette-blue-100: #dae9fd;
    --cck-storybook-color-palette-blue-200: #bedafd;
    --cck-storybook-color-palette-blue-300: #93c4fc;
    --cck-storybook-color-palette-blue-400: #60a5f9;
    --cck-storybook-color-palette-blue-500: #3b81f4;
    --cck-storybook-color-palette-blue-600: #2563ea;
    --cck-storybook-color-palette-blue-700: #1d4ed6;
    --cck-storybook-color-palette-blue-800: #1e40ad;
    --cck-storybook-color-palette-blue-900: #1e3a8a;
    --cck-storybook-color-palette-blue-950: #0e2a7a;
    --cck-storybook-color-palette-indigo-50: #eef2ff;
    --cck-storybook-color-palette-indigo-100: #e0e7ff;
    --cck-storybook-color-palette-indigo-200: #c7d2fe;
    --cck-storybook-color-palette-indigo-300: #a6b5fd;
    --cck-storybook-color-palette-indigo-400: #828df9;
    --cck-storybook-color-palette-indigo-500: #6265f0;
    --cck-storybook-color-palette-indigo-600: #5148e7;
    --cck-storybook-color-palette-indigo-700: #4136c8;
    --cck-storybook-color-palette-indigo-800: #3730a3;
    --cck-storybook-color-palette-indigo-900: #322f82;
    --cck-storybook-color-palette-indigo-950: #221f72;
    --cck-storybook-color-palette-violet-50: #f4f2fe;
    --cck-storybook-color-palette-violet-100: #ece8fd;
    --cck-storybook-color-palette-violet-200: #dcd5fd;
    --cck-storybook-color-palette-violet-300: #c3b4fc;
    --cck-storybook-color-palette-violet-400: #a68af8;
    --cck-storybook-color-palette-violet-500: #8a5bf4;
    --cck-storybook-color-palette-violet-600: #7b3aeb;
    --cck-storybook-color-palette-violet-700: #6d28d9;
    --cck-storybook-color-palette-violet-800: #5921b2;
    --cck-storybook-color-palette-violet-900: #4b1d92;
    --cck-storybook-color-palette-violet-950: #380a7f;
    --cck-storybook-color-palette-purple-50: #f9f4fe;
    --cck-storybook-color-palette-purple-100: #f2e7fe;
    --cck-storybook-color-palette-purple-200: #e8d4fe;
    --cck-storybook-color-palette-purple-300: #d7b3fd;
    --cck-storybook-color-palette-purple-400: #be83fa;
    --cck-storybook-color-palette-purple-500: #a754f5;
    --cck-storybook-color-palette-purple-600: #9233e8;
    --cck-storybook-color-palette-purple-700: #7d22cc;
    --cck-storybook-color-palette-purple-800: #6921a5;
    --cck-storybook-color-palette-purple-900: #561c84;
    --cck-storybook-color-palette-purple-950: #440a72;
    --cck-storybook-color-palette-orchid-50: #fcf5ff;
    --cck-storybook-color-palette-orchid-100: #f7e8ff;
    --cck-storybook-color-palette-orchid-200: #efd3ff;
    --cck-storybook-color-palette-orchid-300: #e4b0fd;
    --cck-storybook-color-palette-orchid-400: #d47ffb;
    --cck-storybook-color-palette-orchid-500: #c14ef3;
    --cck-storybook-color-palette-orchid-600: #aa2ddf;
    --cck-storybook-color-palette-orchid-700: #901fbf;
    --cck-storybook-color-palette-orchid-800: #791d9c;
    --cck-storybook-color-palette-orchid-900: #641b7e;
    --cck-storybook-color-palette-orchid-950: #4f0669;
    --cck-storybook-color-palette-phlox-50: #fcf3fe;
    --cck-storybook-color-palette-phlox-100: #f9e7fe;
    --cck-storybook-color-palette-phlox-200: #f4cffd;
    --cck-storybook-color-palette-phlox-300: #efaafb;
    --cck-storybook-color-palette-phlox-400: #e779f8;
    --cck-storybook-color-palette-phlox-500: #d846ee;
    --cck-storybook-color-palette-phlox-600: #be26d1;
    --cck-storybook-color-palette-phlox-700: #a11cad;
    --cck-storybook-color-palette-phlox-800: #85198e;
    --cck-storybook-color-palette-phlox-900: #6f1a74;
    --cck-storybook-color-palette-phlox-950: #5a055f;
    --cck-storybook-color-palette-hot-pink-50: #fcf1f7;
    --cck-storybook-color-palette-hot-pink-100: #fbe6f2;
    --cck-storybook-color-palette-hot-pink-200: #facee7;
    --cck-storybook-color-palette-hot-pink-300: #f8a8d3;
    --cck-storybook-color-palette-hot-pink-400: #f372b5;
    --cck-storybook-color-palette-hot-pink-500: #ea4898;
    --cck-storybook-color-palette-hot-pink-600: #d92776;
    --cck-storybook-color-palette-hot-pink-700: #bc185c;
    --cck-storybook-color-palette-hot-pink-800: #9c174d;
    --cck-storybook-color-palette-hot-pink-900: #821843;
    --cck-storybook-color-palette-hot-pink-950: #6f0530;
    --cck-storybook-color-palette-radical-red-50: #fef0f1;
    --cck-storybook-color-palette-radical-red-100: #fde2e4;
    --cck-storybook-color-palette-radical-red-200: #fdccd2;
    --cck-storybook-color-palette-radical-red-300: #fca4ae;
    --cck-storybook-color-palette-radical-red-400: #f97084;
    --cck-storybook-color-palette-radical-red-500: #f23f5d;
    --cck-storybook-color-palette-radical-red-600: #df1d48;
    --cck-storybook-color-palette-radical-red-700: #bc123c;
    --cck-storybook-color-palette-radical-red-800: #9c1238;
    --cck-storybook-color-palette-radical-red-900: #871337;
    --cck-storybook-color-palette-radical-red-950: #770327;
    --cck-storybook-color-palette-imperial-red-50: #fff5f5;
    --cck-storybook-color-palette-imperial-red-100: #fee3e3;
    --cck-storybook-color-palette-imperial-red-200: #fed7d7;
    --cck-storybook-color-palette-imperial-red-300: #feb2b2;
    --cck-storybook-color-palette-imperial-red-400: #fc8181;
    --cck-storybook-color-palette-imperial-red-500: #f56565;
    --cck-storybook-color-palette-imperial-red-600: #e53e3e;
    --cck-storybook-color-palette-imperial-red-700: #c53030;
    --cck-storybook-color-palette-imperial-red-800: #9b2c2c;
    --cck-storybook-color-palette-imperial-red-900: #822727;
    --cck-storybook-color-palette-imperial-red-950: #701515;
    --cck-storybook-size-0: 0;
    --cck-storybook-size-1: 1px;
    --cck-storybook-size-2: 2px;
    --cck-storybook-size-4: 4px;
    --cck-storybook-size-6: 6px;
    --cck-storybook-size-8: 8px;
    --cck-storybook-size-12: 12px;
    --cck-storybook-size-16: 16px;
    --cck-storybook-size-20: 20px;
    --cck-storybook-size-24: 24px;
    --cck-storybook-size-28: 28px;
    --cck-storybook-size-32: 32px;
    --cck-storybook-size-40: 40px;
    --cck-storybook-size-48: 48px;
    --cck-storybook-size-64: 64px;
    --cck-storybook-size-72: 72px;
    --cck-storybook-size-80: 80px;
    --cck-storybook-size-96: 96px;
    --cck-storybook-size-128: 128px;
    --cck-storybook-size-160: 160px;
    --cck-storybook-size-192: 192px;
    --cck-storybook-size-224: 224px;
    --cck-storybook-size-256: 256px;
    --cck-storybook-size-320: 320px;
    --cck-storybook-size-384: 384px;
    --cck-storybook-size-480: 480px;
    --cck-storybook-size-560: 560px;
    --cck-storybook-size-640: 640px;
    --cck-storybook-size-768: 768px;
    --cck-storybook-size-1024: 1024px;
    --cck-storybook-size-1280: 1280px;
    --cck-storybook-size-1440: 1440px;
    --cck-storybook-size-1600: 1600px;
    --cck-storybook-size-1920: 1920px;
    --cck-storybook-alpha-0: 0;
    --cck-storybook-alpha-1: 2px;
    --cck-storybook-alpha-2: 4px;
    --cck-storybook-alpha-3: 6px;
    --cck-storybook-alpha-4: 8px;
    --cck-storybook-alpha-5: 10px;
    --cck-storybook-alpha-6: 20px;
    --cck-storybook-alpha-7: 40px;
    --cck-storybook-alpha-8: 60px;
    --cck-storybook-alpha-9: 80px;
    --cck-storybook-alpha-10: 100px;
    --cck-storybook-blur-0: 0;
    --cck-storybook-blur-1: 2px;
    --cck-storybook-blur-2: 4px;
    --cck-storybook-blur-3: 6px;
    --cck-storybook-blur-4: 8px;
    --cck-storybook-blur-5: 12px;
    --cck-storybook-blur-6: 16px;
    --cck-storybook-blur-7: 20px;
    --cck-storybook-blur-8: 32px;
    --cck-storybook-blur-9: 64px;
    --cck-storybook-blur-10: 96px;
    --cck-storybook-display-2xl-light: 300 72px / 90px Inter;
    --cck-storybook-display-2xl-regular: 400 72px / 90px Inter;
    --cck-storybook-display-2xl-medium: 500 72px / 90px Inter;
    --cck-storybook-display-2xl-semibold: 600 72px / 90px Inter;
    --cck-storybook-display-2xl-bold: 700 72px / 90px Inter;
    --cck-storybook-display-xl-light: 300 60px / 72px Inter;
    --cck-storybook-display-xl-regular: 400 60px / 72px Inter;
    --cck-storybook-display-xl-medium: 500 60px / 72px Inter;
    --cck-storybook-display-xl-semibold: 600 60px / 72px Inter;
    --cck-storybook-display-xl-bold: 700 60px / 72px Inter;
    --cck-storybook-display-lg-light: 300 48px / 64px Inter;
    --cck-storybook-display-lg-regular: 400 48px / 64px Inter;
    --cck-storybook-display-lg-medium: 500 48px / 64px Inter;
    --cck-storybook-display-lg-semibold: 600 48px / 64px Inter;
    --cck-storybook-display-lg-bold: 700 48px / 64px Inter;
    --cck-storybook-display-md-light: 300 36px / 60px Inter;
    --cck-storybook-display-md-regular: 400 36px / 60px Inter;
    --cck-storybook-display-md-medium: 500 36px / 60px Inter;
    --cck-storybook-display-md-semibold: 600 36px / 60px Inter;
    --cck-storybook-display-md-bold: 700 36px / 60px Inter;
    --cck-storybook-display-sm-light: 300 30px / 44px Inter;
    --cck-storybook-display-sm-regular: 400 30px / 44px Inter;
    --cck-storybook-display-sm-medium: 500 30px / 44px Inter;
    --cck-storybook-display-sm-semibold: 600 30px / 44px Inter;
    --cck-storybook-display-sm-bold: 700 30px / 44px Inter;
    --cck-storybook-display-xs-light: 300 24px / 38px Inter;
    --cck-storybook-display-xs-regular: 400 24px / 38px Inter;
    --cck-storybook-display-xs-medium: 500 24px / 38px Inter;
    --cck-storybook-display-xs-semibold: 600 24px / 38px Inter;
    --cck-storybook-display-xs-bold: 700 24px / 38px Inter;
    --cck-storybook-text-xl-light: 300 20px / 32px Inter;
    --cck-storybook-text-xl-regular: 400 20px / 32px Inter;
    --cck-storybook-text-xl-medium: 500 20px / 32px Inter;
    --cck-storybook-text-xl-semibold: 600 20px / 32px Inter;
    --cck-storybook-text-xl-bold: 700 20px / 32px Inter;
    --cck-storybook-text-lg-light: 300 18px / 30px Inter;
    --cck-storybook-text-lg-regular: 400 18px / 30px Inter;
    --cck-storybook-text-lg-medium: 500 18px / 30px Inter;
    --cck-storybook-text-lg-semibold: 600 18px / 30px Inter;
    --cck-storybook-text-lg-bold: 700 18px / 30px Inter;
    --cck-storybook-text-md-light: 300 16px / 28px Inter;
    --cck-storybook-text-md-regular: 400 16px / 28px Inter;
    --cck-storybook-text-md-medium: 500 16px / 28px Inter;
    --cck-storybook-text-md-semibold: 600 16px / 28px Inter;
    --cck-storybook-text-md-bold: 700 16px / 28px Inter;
    --cck-storybook-text-sm-light: 300 14px / 24px Inter;
    --cck-storybook-text-sm-regular: 400 14px / 24px Inter;
    --cck-storybook-text-sm-medium: 500 14px / 24px Inter;
    --cck-storybook-text-sm-semibold: 600 14px / 24px Inter;
    --cck-storybook-text-sm-bold: 700 14px / 24px Inter;
    --cck-storybook-text-xs-light: 300 12px / 20px Inter;
    --cck-storybook-text-xs-regular: 400 12px / 20px Inter;
    --cck-storybook-text-xs-medium: 500 12px / 20px Inter;
    --cck-storybook-text-xs-semibold: 600 12px / 20px Inter;
    --cck-storybook-text-xs-bold: 700 12px / 20px Inter;
}

:where(html.cck-storybook-dark-theme) {
    --cck-storybook-color-bg-body-alpha-0: #05030d00;
    --cck-storybook-color-bg-body-alpha-1: #05030d05;
    --cck-storybook-color-bg-body-alpha-2: #05030d0a;
    --cck-storybook-color-bg-body-alpha-3: #05030d0f;
    --cck-storybook-color-bg-body-alpha-4: #05030d14;
    --cck-storybook-color-bg-body-alpha-5: #05030d1a;
    --cck-storybook-color-bg-body-alpha-6: #05030d33;
    --cck-storybook-color-bg-body-alpha-7: #05030d66;
    --cck-storybook-color-bg-body-alpha-8: #05030d99;
    --cck-storybook-color-bg-body-alpha-9: #05030dcc;
    --cck-storybook-color-bg-body-alpha-10: #05030d;
    --cck-storybook-color-bg-body-inverse-alpha-0: #ffffff00;
    --cck-storybook-color-bg-body-inverse-alpha-1: #ffffff05;
    --cck-storybook-color-bg-body-inverse-alpha-2: #ffffff0a;
    --cck-storybook-color-bg-body-inverse-alpha-3: #ffffff0f;
    --cck-storybook-color-bg-body-inverse-alpha-4: #ffffff14;
    --cck-storybook-color-bg-body-inverse-alpha-5: #ffffff1a;
    --cck-storybook-color-bg-body-inverse-alpha-6: #ffffff33;
    --cck-storybook-color-bg-body-inverse-alpha-7: #ffffff66;
    --cck-storybook-color-bg-body-inverse-alpha-8: #ffffff99;
    --cck-storybook-color-bg-body-inverse-alpha-9: #ffffffcc;
    --cck-storybook-color-bg-body-inverse-alpha-10: #ffffff;
    --cck-storybook-color-bg-button-primary: var(--cck-storybook-color-brand-alpha-5);
    --cck-storybook-color-bg-button-primary-hover: var(--cck-storybook-color-brand-alpha-6);
    --cck-storybook-color-bg-table-even: var(--cck-storybook-color-bg-body-inverse-alpha-3);
    --cck-storybook-color-bg-overlay-backdrop: var(--cck-storybook-color-bg-body-alpha-6);
    --cck-storybook-color-bg-overlay-shadow-1: var(--cck-storybook-color-bg-body-inverse-alpha-1);
    --cck-storybook-color-bg-overlay-shadow-2: var(--cck-storybook-color-bg-body-inverse-alpha-1);
    --cck-storybook-color-bg-overlay-surface: var(--cck-storybook-color-bg-body-alpha-10);
    --cck-storybook-color-bg-card-surface: var(--cck-storybook-color-bg-body-inverse-alpha-3);
    --cck-storybook-color-brand-alpha-0: #1bbf8205;
    --cck-storybook-color-brand-alpha-1: #1bbf820a;
    --cck-storybook-color-brand-alpha-2: #1bbf820f;
    --cck-storybook-color-brand-alpha-3: #1bbf8214;
    --cck-storybook-color-brand-alpha-4: #1bbf821a;
    --cck-storybook-color-brand-alpha-5: #1bbf8233;
    --cck-storybook-color-brand-alpha-6: #1bbf8266;
    --cck-storybook-color-brand-alpha-7: #1bbf8299;
    --cck-storybook-color-brand-alpha-8: #1bbf82cc;
    --cck-storybook-color-brand-alpha-9: #1bbf82e5;
    --cck-storybook-color-brand-alpha-10: #1bbf82;
    --cck-storybook-color-brand-default: var(--cck-storybook-color-brand-alpha-10);
    --cck-storybook-color-font-contrast-1: var(--cck-storybook-color-bg-body-inverse-alpha-7);
    --cck-storybook-color-font-contrast-2: var(--cck-storybook-color-bg-body-inverse-alpha-8);
    --cck-storybook-color-font-contrast-3: var(--cck-storybook-color-bg-body-inverse-alpha-9);
    --cck-storybook-color-font-contrast-4: var(--cck-storybook-color-bg-body-inverse-alpha-10);
    --cck-storybook-color-font-link: var(--cck-storybook-color-palette-blue-400);
    --cck-storybook-color-border-card-default: var(--cck-storybook-color-border-alpha-5);
    --cck-storybook-color-border-alpha-0: var(--cck-storybook-color-bg-body-inverse-alpha-0);
    --cck-storybook-color-border-alpha-1: var(--cck-storybook-color-bg-body-inverse-alpha-1);
    --cck-storybook-color-border-alpha-2: var(--cck-storybook-color-bg-body-inverse-alpha-2);
    --cck-storybook-color-border-alpha-3: var(--cck-storybook-color-bg-body-inverse-alpha-3);
    --cck-storybook-color-border-alpha-4: var(--cck-storybook-color-bg-body-inverse-alpha-4);
    --cck-storybook-color-border-alpha-5: var(--cck-storybook-color-bg-body-inverse-alpha-5);
    --cck-storybook-color-border-alpha-6: var(--cck-storybook-color-bg-body-inverse-alpha-6);
    --cck-storybook-color-border-alpha-7: var(--cck-storybook-color-bg-body-inverse-alpha-7);
    --cck-storybook-color-border-alpha-8: var(--cck-storybook-color-bg-body-inverse-alpha-8);
    --cck-storybook-color-border-alpha-9: var(--cck-storybook-color-bg-body-inverse-alpha-9);
    --cck-storybook-color-border-alpha-10: var(--cck-storybook-color-bg-body-inverse-alpha-10);
    --cck-storybook-color-border-alpha-default: var(--cck-storybook-color-bg-body-inverse-alpha-5);
    --cck-storybook-color-border-button-primary: var(--cck-storybook-color-brand-alpha-6);
    --cck-storybook-color-border-button-primary-hover: var(--cck-storybook-color-brand-alpha-9);

    /* DocPage Header Effect */
    --cck-storybook-effect-gradient-doc-page-header-brand: radial-gradient(
            45% 66% at 50% 0%,
            var(--cck-storybook-color-brand-alpha-8) 0%,
            var(--cck-storybook-color-brand-alpha-7) 100%
    );

    --cck-storybook-effect-gradient-doc-page-header-overlay: radial-gradient(
            45% 66% at 50% 0%,
            var(--cck-storybook-color-bg-body-alpha-5) 0%,
            var(--cck-storybook-color-bg-body-alpha-10) 100%
    );

    --cck-storybook-effect-gradient-doc-page-header-box: linear-gradient(
            180deg,
            var(--cck-storybook-color-bg-body-inverse-alpha-4) 0%,
            var(--cck-storybook-color-bg-body-inverse-alpha-0) 100%
    );
}

:where(html.cck-storybook-light-theme) {
    --cck-storybook-color-bg-body-alpha-0: #ffffff00;
    --cck-storybook-color-bg-body-alpha-1: #ffffff05;
    --cck-storybook-color-bg-body-alpha-2: #ffffff0a;
    --cck-storybook-color-bg-body-alpha-3: #ffffff0f;
    --cck-storybook-color-bg-body-alpha-4: #ffffff14;
    --cck-storybook-color-bg-body-alpha-5: #ffffff1a;
    --cck-storybook-color-bg-body-alpha-6: #ffffff33;
    --cck-storybook-color-bg-body-alpha-7: #ffffff66;
    --cck-storybook-color-bg-body-alpha-8: #ffffff99;
    --cck-storybook-color-bg-body-alpha-9: #ffffffcc;
    --cck-storybook-color-bg-body-alpha-10: #ffffff;
    --cck-storybook-color-bg-body-inverse-alpha-0: #000c1d00;
    --cck-storybook-color-bg-body-inverse-alpha-1: #000c1d05;
    --cck-storybook-color-bg-body-inverse-alpha-2: #000c1d0a;
    --cck-storybook-color-bg-body-inverse-alpha-3: #000c1d0f;
    --cck-storybook-color-bg-body-inverse-alpha-4: #000c1d14;
    --cck-storybook-color-bg-body-inverse-alpha-5: #000c1d1a;
    --cck-storybook-color-bg-body-inverse-alpha-6: #000c1d33;
    --cck-storybook-color-bg-body-inverse-alpha-7: #000c1d66;
    --cck-storybook-color-bg-body-inverse-alpha-8: #000c1d99;
    --cck-storybook-color-bg-body-inverse-alpha-9: #000c1dcc;
    --cck-storybook-color-bg-body-inverse-alpha-10: #000c1d;
    --cck-storybook-color-bg-button-primary: var(--cck-storybook-color-brand-alpha-5);
    --cck-storybook-color-bg-button-primary-hover: var(--cck-storybook-color-brand-alpha-6);
    --cck-storybook-color-bg-table-even: var(--cck-storybook-color-bg-body-inverse-alpha-1);
    --cck-storybook-color-bg-overlay-backdrop: var(--cck-storybook-color-bg-body-inverse-alpha-6);
    --cck-storybook-color-bg-overlay-shadow-1: var(--cck-storybook-color-bg-body-inverse-alpha-5);
    --cck-storybook-color-bg-overlay-shadow-2: var(--cck-storybook-color-bg-body-inverse-alpha-4);
    --cck-storybook-color-bg-overlay-surface: var(--cck-storybook-color-bg-body-alpha-10);
    --cck-storybook-color-bg-card-surface: var(--cck-storybook-color-bg-body-inverse-alpha-1);
    --cck-storybook-color-brand-alpha-0: #129c6905;
    --cck-storybook-color-brand-alpha-1: #129c690a;
    --cck-storybook-color-brand-alpha-2: #129c690f;
    --cck-storybook-color-brand-alpha-3: #129c6914;
    --cck-storybook-color-brand-alpha-4: #129c691a;
    --cck-storybook-color-brand-alpha-5: #129c6933;
    --cck-storybook-color-brand-alpha-6: #129c6966;
    --cck-storybook-color-brand-alpha-7: #129c6999;
    --cck-storybook-color-brand-alpha-8: #129c69cc;
    --cck-storybook-color-brand-alpha-9: #129c69e5;
    --cck-storybook-color-brand-alpha-10: #129c69;
    --cck-storybook-color-brand-default: var(--cck-storybook-color-brand-alpha-10);
    --cck-storybook-color-font-contrast-1: var(--cck-storybook-color-bg-body-inverse-alpha-7);
    --cck-storybook-color-font-contrast-2: var(--cck-storybook-color-bg-body-inverse-alpha-8);
    --cck-storybook-color-font-contrast-3: var(--cck-storybook-color-bg-body-inverse-alpha-9);
    --cck-storybook-color-font-contrast-4: var(--cck-storybook-color-bg-body-inverse-alpha-10);
    --cck-storybook-color-font-link: var(--cck-storybook-color-palette-blue-500);
    --cck-storybook-color-border-card-default: var(--cck-storybook-color-border-alpha-4);
    --cck-storybook-color-border-alpha-0: var(--cck-storybook-color-bg-body-inverse-alpha-0);
    --cck-storybook-color-border-alpha-1: var(--cck-storybook-color-bg-body-inverse-alpha-1);
    --cck-storybook-color-border-alpha-2: var(--cck-storybook-color-bg-body-inverse-alpha-2);
    --cck-storybook-color-border-alpha-3: var(--cck-storybook-color-bg-body-inverse-alpha-3);
    --cck-storybook-color-border-alpha-4: var(--cck-storybook-color-bg-body-inverse-alpha-4);
    --cck-storybook-color-border-alpha-5: var(--cck-storybook-color-bg-body-inverse-alpha-5);
    --cck-storybook-color-border-alpha-6: var(--cck-storybook-color-bg-body-inverse-alpha-6);
    --cck-storybook-color-border-alpha-7: var(--cck-storybook-color-bg-body-inverse-alpha-7);
    --cck-storybook-color-border-alpha-8: var(--cck-storybook-color-bg-body-inverse-alpha-8);
    --cck-storybook-color-border-alpha-9: var(--cck-storybook-color-bg-body-inverse-alpha-9);
    --cck-storybook-color-border-alpha-10: var(--cck-storybook-color-bg-body-inverse-alpha-10);
    --cck-storybook-color-border-alpha-default: var(--cck-storybook-color-bg-body-inverse-alpha-5);
    --cck-storybook-color-border-button-primary: var(--cck-storybook-color-brand-alpha-6);
    --cck-storybook-color-border-button-primary-hover: var(--cck-storybook-color-brand-alpha-9);

    /* DocPage Header Effect */
    --cck-storybook-effect-gradient-doc-page-header-brand: radial-gradient(
            45% 66% at 50% 0%,
            var(--cck-storybook-color-brand-alpha-8) 0%,
            var(--cck-storybook-color-brand-alpha-7) 100%
    );

    --cck-storybook-effect-gradient-doc-page-header-overlay: radial-gradient(
            45% 66% at 50% 0%,
            var(--cck-storybook-color-bg-body-alpha-5) 0%,
            var(--cck-storybook-color-bg-body-alpha-10) 100%
    );

    --cck-storybook-effect-gradient-doc-page-header-box: linear-gradient(
            180deg,
            var(--cck-storybook-color-bg-body-inverse-alpha-4) 0%,
            var(--cck-storybook-color-bg-body-inverse-alpha-0) 100%
    );
}
