/* storybook-manager-theme-switcher */

/* region ---------- LAYOUT ---------- */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, html, body {
    margin: 0;
    padding: 0;
}

/* First div element. It a layout for sidenav, draggable and main content */
.cck-storybook-theme #root > div:first-child {
    grid-template-columns: minmax(0, var(--cck-storybook-size-256)) minmax(100px, 1fr) minmax(0, 400px);
}

/* First wrapper of sidenav. Sibling of main content at root layout element*/
.cck-storybook-theme #root > div:first-child > div:last-child {
    border-right: none;
}

/* Draggable element to resize the sidenav */
.cck-storybook-theme #root > div:first-child > div:last-child > div:first-child{
    display: none;
}

/*
* Override the sidenav background. This color is also defined in storybook them,
* But because of media-query of storybook, it will switch to bg color.
*/
.cck-storybook-theme .container.sidebar-container {
    background: var(--cck-storybook-color-bg-body-inverse-alpha-1);
    border-right: 1px solid var(--cck-storybook-color-border-alpha-default);
    /* padding is 24px, But one of the child has also padding, So we have to reduce our padding from the storybook padding  */
    padding: 0 8px 12px 4px;
}

/* Hide setting icon at sidenav */
.cck-storybook-theme .sidebar-header > div:last-child {
    display: none;
}

/* The parent element that contains color has padding, and this style remove the storybook padding of parent
 * So the this style make the logo align to the toolbar
 */
.cck-storybook-theme .sidebar-header {
    margin-top: -4px !important;
}
.cck-storybook-theme .sidebar-header img {
    max-width: 200px;
    height: 57px;
}
/* endregion */

/* region ---------- SIDENAV - SEARCH ---------- */
/* Search input field */
.cck-storybook-theme .search-field input {
    border-radius: 500px;
    padding-left: var(--cck-storybook-size-40);
}

/* Search Icon */
.cck-storybook-theme .search-field > div:first-child {
    left: var(--cck-storybook-size-16);
}

/* Search shortcut code. (Will be visible when the input is NOT focused) */
.cck-storybook-theme .search-field > code {
    right: var(--cck-storybook-size-16);
    color: var(--cck-storybook-color-font-contrast-1);
}

/* Search clear button. (Will be visible when the input has focused) */
.cck-storybook-theme .search-field > input + div {
    right: var(--cck-storybook-size-16);
}
/* endregion */

/* region ---------- SIDENAV - GENERAL  ---------- */
/* Sidenav items wrapper */
.cck-storybook-theme #storybook-explorer-menu {
    margin-top: var(--cck-storybook-size-20);
}
/* endregion */

/* region ---------- SIDENAV - FIRST TITLE (UI Components) ---------- */
/* Sidenav fist level title. (e.g. Frameworks, UI Components) */
.cck-storybook-theme .sidebar-subheading {
    margin: 0;
}

/* Sidenav fist level title. (e.g. Frameworks, UI Components) */
.cck-storybook-theme #storybook-explorer-menu .sidebar-subheading > button:first-child {
    flex: 1;
    height: unset;
    padding: 0;
}
.cck-storybook-theme #storybook-explorer-menu .sidebar-subheading > button:first-child:hover,
.cck-storybook-theme #storybook-explorer-menu .sidebar-subheading > button:first-child:focus {
    background: transparent;
}

/* Sidenav fist level title -> Arrow down icon at left side of item to collapse the sidenav group */
.cck-storybook-theme #storybook-explorer-menu .sidebar-subheading > button:first-child > div:first-child {
    display: none;
}

/* Sidenav fist level title -> collapse icon at right of root item. */
.cck-storybook-theme #storybook-explorer-menu .sidebar-subheading-action {
    display: none;
}
/* endregion */

/* region ---------- SIDENAV - FIRST ITEM (SvgIcon, Avatar) ---------- */
/* Sidenav fist level item after title. (e.g. SvgIcon, Avatar) */
.cck-storybook-theme #storybook-explorer-menu button.sidebar-item {
    padding: 0;
    background-color: transparent;
}
.cck-storybook-theme #storybook-explorer-menu button.sidebar-item:hover,
.cck-storybook-theme #storybook-explorer-menu button.sidebar-item:focus {
    background: transparent;
}

/* Sidenav fist level item after root -> Item icon at left side (e.g. ArrowDown & Folder icon for group) */
.cck-storybook-theme #storybook-explorer-menu button.sidebar-item > div:first-child {
    display: none;
}
/* endregion */

/* region ---------- SIDENAV - SECOND ITEM (Docs, Default, Size) ---------- */
/* Sidenav second level item after title. (e.g. Docs, Default, Size) */
.cck-storybook-theme #storybook-explorer-menu div.sidebar-item {
    padding: 0;
}
.cck-storybook-theme #storybook-explorer-menu div.sidebar-item:hover,
.cck-storybook-theme #storybook-explorer-menu div.sidebar-item:focus {
    background: transparent;
}
.cck-storybook-theme #storybook-explorer-menu div.sidebar-item[data-selected="true"] {
    background-color: transparent;
    color: unset;
}

.cck-storybook-theme #storybook-explorer-menu div.sidebar-item > a {
    padding: 0;
}

/* Sidenav second level item after title -> Item icon at left side (e.g. Doc, Bookmark) */
.cck-storybook-theme #storybook-explorer-menu div.sidebar-item > a > div:first-child {
    display: none;
}
/* endregion */

/* region ---------- TOOLBAR ---------- */
/* Hide toolbar */
.cck-storybook-theme.cck-storybook-theme--remove-toolbar .sb-bar {
    display: none;
}
/* endregion */
